*{
    margin: 0;
    font-family: 'Montserrat',sans-serif;
}
body{
    transform: translateY(35%);
    background-color: #07011a;
    color: aliceblue;
    text-align: center;
    h1{
        margin: 10px;
        font-size: 40px;
    }
    h2{
        margin: 10px;
        font-size: 80px;
    }
    .container{
        display: flex;
        justify-content: center;
        margin: 10px;
        width: 100%;
        height: fit-content;
        background-color: #0d0330;
        .card{
            margin: 10px;
            padding: 10px 30px;
            .time{
                font-size: 55px;
            }
            .format{
                margin-top: 10px;
                font-size: 20px;
            }
        }
    }
}